<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
  <title>Users table</title>
</head>

<body>
  <%- include("layout/navbar")%>
  <h2 class="text-center mt-3 display-4"><b>Search Result</b></h2>
  <table class="table table-dark container my-3">
    
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Image</th>
      </tr>
    </thead>
    <%for(let i=0; i<data.length; i++){%>
      <tbody>
        <tr>
          <th scope="row"><%=i+1%></th>
          <td><%=data[i].name%></td>
          <td><%=data[i].email%></td>
          <td><img src="/img/<%=data[i].image%>" width="200px" alt=""></td>
        </tr>
      </tbody>
      <%}%>
  </table>
  <%=data%>
</body>

</html>